main {
  font-family: monospace, monospace;
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

@media only screen and (max-device-width: 736px) {
  main {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
  }
}

::selection {
  background: #808080;
}

body {
  background: #282828;
  color:      #ebdbb2;
}

pre {
  background-color: #3c3836;
  padding: 1em;
  border: 0;
}

a, a:active, a:visited {
  color: #282828;
  background-color: #282828;
}

h1, h2, h3, h4, h5 {
  margin-bottom: .1rem;
}

blockquote {
  border-left: 1px solid #bdae93;
  margin: 0.5em 10px;
  padding: 0.5em 10px;
}

footer {
  align: center;
}
